{% extends "ulohabase.html" %}
{% block content %}
<form method=post>
  {{ form.csrf_token }}
  <div class="content container center">
    <div class="task">
    <p class="adam-description " style="text-align: left;">Co znamená zkratka RAM?</p>
    {% for subfield in form.otazka0 %}
    <table>
        <tr style="display: flex; justify-content: left; align-items: center;">
            <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
            <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
            <td><p></p></td>
        </tr>
    </table>
    {% endfor %}
    </div>
<div class="task">
    <p class="adam-description">Jaké součástky jsou naprosto nezbytné pro fungování počítače?</p>
    {% for subfield in form.otazka1 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Mobilní telefon…?</p>
    {% for subfield in form.otazka2 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Číslo 16 v osmičkové soustavě je…?</p>
    {% for subfield in form.otazka3 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Jaký programovací jazyk používá Unreal Engine 4</p>
    {% for subfield in form.otazka4 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
</table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Jaký je rozdíl mezi SSD a HDD?</p>
    {% for subfield in form.otazka5 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Kterou zkratku má logický součin?</p>
    {% for subfield in form.otazka6 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co je to počítač?</p>
    {% for subfield in form.otazka7 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co je to Internet?</p>
    {% for subfield in form.otazka8 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co znamená zkratka Wi-Fi?</p>
    {% for subfield in form.otazka9 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">K čemu slouží Bluetooth?</p>
    {% for subfield in form.otazka10 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Herní engine je například…?</p>
    {% for subfield in form.otazka11 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co je to operační systém?</p>
    {% for subfield in form.otazka12 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co znamená zkratka HTML?</p>
    {% for subfield in form.otazka13 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co je to kryptoměna?</p>
    {% for subfield in form.otazka14 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">V jakém programovací jazyku je napsaný Minecraft?</p>
    {% for subfield in form.otazka15 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">K čemu slouží kybernetika?</p>
    {% for subfield in form.otazka16 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Kolik bajtů (byte) je jeden gigabajt (gigabyte)? Pozor na rozdíl mezi gibibyte a gigabyte!</p>
    {% for subfield in form.otazka17 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Jaké jsou dnes používané operační systémy na počítači?</p>
    {% for subfield in form.otazka18 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Procesor je poskládán z: </p>
    {% for subfield in form.otazka19 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Periferie jsou například: </p>
    {% for subfield in form.otazka20 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Jak se jmenuje první vzniklý programovací jazyk?</p>
    {% for subfield in form.otazka21 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Co znamená HTTP Error 404?</p>
    {% for subfield in form.otazka22 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task"> 
    <p class="adam-description">Co je to ray-tracing?</p>
    {% for subfield in form.otazka23 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
</div>
<div class="task">
    <p class="adam-description">Které firmy vyrábí v dnešní době grafické karty?</p>
    {% for subfield in form.otazka24 %}
    <table>
    <tr style="display: flex; justify-content: left; align-items: center;">
        <td style="padding:0px;padding-right: 10px;width: 15px; display:flex; align-items: center;justify-content: center;height: 30px; text-align: left;">{{ subfield}}</td>
        <td style="padding:0px;">{{ subfield.label(class_="adam-field") }}</td>
        <td><p></p></td>
    </tr>
    </table>
{% endfor %}
<br>
</div class="title">
    <div id="button">
      <button class="button is-block is-large" style="margin: auto;">Odeslat</button>
    </div>
</form>
{% endblock %}