#rozcestnik 

body {
    text-align: center;
    background-image: url("../static/logo-skoly.png");
    background-position: center;
    width: 40rem;
    padding: 10rem;
    margin: auto;
    border-radius: 25%;
    box-shadow: 0 10px 16px black;
}

.subtitle{
    text-align: center;
    font-size: medium;
    color: white;
}
.hero-body{
    padding-bottom:18rem;
    padding-top:18rem
}
.container{
    margin:0 auto;
    position:relative;
    max-width:960px;
    width:960px
}