{% extends "base.html" %}
{% block content %}
<h1 class="ukol-title"> Úkol 2 - Kolize</h1>
<p class="ukol-description">Bohužel, ne všechny hashovací algoritmy jsou perfektní a proto u některých může dojít ke kolizi.</p>
<p class="ukol-description">Možná se ptáte, co taková kolize znamená? A proč je to špatné?</p>
<p class="ukol-description">Jako kolizi klasifikujeme shodu jakýchkoli dvou odlišných vstupů, například kdybychom ze vstupu "auto" a "zmrzlina" dostali od algoritmu stejný výstup.</p>
<p class="ukol-description">Špatn= je to z důvodu bezpečnosti, hashovací algoritmy se dnes používají pro zašifrování všech hesel a nechceme, aby více hesel mohlo odemknout jeden účet.</p>
<p class="ukol-description">Tyto dva obrázky mají v jednom z algoritmů stejný hash, najděte o jaký algoritmus se jedná.</p>
<img src="../static/plane.jpg" alt="letadlo" width="500" height="200">
<img src="../static/ship.jpg" alt="loď" width="500" height="200">
<br>
<br>
<br>
<br>
<br>
<form method="POST">
  <input type="radio" id="MD5" required="" name="answer" value="MD5">
  <label class="adam-description" for="MD5">MD5</label><br>
  <input type="radio" id="SHA-1" required="" name="answer" value="SHA1">
  <label class="adam-description" for="SHA1">SHA1</label><br>
  <input  type="radio" id="SHA-256" required="" name="answer" value="SHA-256">
  <label class="adam-description"  for="SHA-256">SHA-256</label> <br>
  <br>
  <br>
  <input class="ukol-link ukol form" type="submit" value="Odeslat">
</form>
{% endblock %}